body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    width: 100%;
    height: 900px;
    background: url('../images/banner/banner1.png');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-container {
    text-align: right;
    /* max-width: 525px; */
    padding-top: 200px;
    padding-right: 200px;
    padding-left: 1100px;
}

.header-title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;

}

.header-description {
    margin-bottom: 30px;
}

.btn {
    border-radius: 5px;
    background: #F15B22;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: 0px;
}

main {
    padding: 0px 0px;
    padding-right: 322px;
    padding-left: 250px;
}

.section-title {
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 150px;
}

.my-failures {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding-top: 150px;
    /* padding-right: 322px;
    padding-left: 250px; */
}

.my-failure-list {
    padding-top: 200px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.my-plans {
    padding-top: 100px;

}

.positive-mindset {
    padding-top: 100px;
    padding-bottom: 100px;
}

#my-plans-header {
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    text-align: center;

}

.learning-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.learning-items h4 {
    color: #151414;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
}

.learning-items p {

    color: #737272;
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 0px;
}

.mindset-title-container {
    background-image: url('../images/watch.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scale: cover;
    height: 250px;
    border-radius: 8px;
    /* background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%); */

}

.mindset-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 20px;
    margin: 0px;

}

.btn2 {
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: 0px;

}

.mind-set {
    padding-top: 20px;
    padding-left: 35px;
    width: 500px;
    margin-bottom: 0px;

}

.footer-container {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 130px 230px;

}

.footer-description {
    width: 485px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.email-and-phone {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.subscribe {
    color: #FFF;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0px;
}

.footer-item-2 {
    
}

.email-box {
    width: 325px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #FFF;
    text-align: center;
    background: var(--Dark-01, #151414);
}

.contact {
    display: block;
}